* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

/* Scroll bar Track */

/* ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(228, 227, 227, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(197, 197, 197, 0.886);
    border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(116, 116, 116);
} */

h1 {
    font-size: 4rem;
    font-weight: 900;
}

/* root */
:root {
    --thm-base: #0d6efd;
    --thm-disbale: #d6d6d6;
    --thm-black: #000;
    --thm-blue: blue;
    --thm-dark: #09215f;
    --thm-gray: #d7d7d7;
    --thm-white: #fff;
    --thm-secondary: #eaeaea
}

h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
}

p {
    font-size: 1.2rem;
}

/* custom Classes */

/* color classes */

.thm-dark {
    color: var(--thm-dark);
}

.thm-white {
    color: var(--thm-white);
}

.thm-disabeled {
    color: var(--thm-disabeled);
}

.thm-secondary {
    color: var(--thm-secondary);
}

.thm-gray {
    color: var(--thm-gray)
}

.bg-thm-gray {
    background-color: var(--thm-gray);
}

.thm-white {
    color: var(--thm-white);
}

.bg-thm-dark {
    background-color: var(--thm-dark);
}

.bg-thm-white {
    background-color: var(--thm-white);
}

.bg-thm-disabeled {
    background-color: var(--thm-disabeled);
}

.bg-thm-secondary {
    background-color: var(--thm-secondary);
}


/* Cursor */

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

/* Width */
.width-300 {
    min-width: 300px;
}

.width-200 {
    min-width: 200px;
}

.width-150 {
    min-width: 150px;
}

.width-100 {
    min-width: 100px;
}

/* Fonts */

.fw-550 {
    font-weight: 550;
}

.fw-500 {
    font-weight: 500;
}

.fw-300 {
    font-weight: 300;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

/* Nav bar */

.navbar {
    box-shadow: 0px 4px 52px -5px #c8c9caa1;
}

.navbar-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
}

.navbar-inner-container {
    width: 100%;
}

.nav-logo {
    width: 15rem;
    height: 2.6rem;
}

@media screen and (max-width: 780px) {
    .navbar-main-container {
        padding: 0rem 1rem;
    }

    .nav-logo {
        width: 10rem;
        height: 2rem;
    }

    #responsive-navbar-nav {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid #e1e1e1;
    }
}

/* Button */

.colored-button {
    display: inline-block;
    font-weight: 600 !important;
    font-size: 1rem;
    color: white;
    border: 3px solid var(--thm-dark);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: var(--thm-dark);
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.colored-button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.colored-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.986),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.colored-button:hover {
    border: 3px solid var(--thm-dark);
}

.colored-button:hover::before {
    transform: translateX(0);
}

.hovered-button {
    display: inline-block;
    font-weight: 500 !important;
    font-size: 1rem;
    color: var(--thm-dark);
    border: 2px solid var(--thm-dark);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.hovered-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--thm-dark);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.hovered-button:hover {
    color: #fff;
    border: 2px solid var(--thm-dark);
}

.hovered-button:hover::before {
    transform: translateX(0);
}

.refresh-button {
    background-color: var(--thm-white);
    color: var(--thm-dark);
    border: 2px solid var(--thm-dark);
    transition: all 0.2s ease-in-out;
}

.refresh-button:hover {
    background-color: var(--thm-dark);
    color: var(--thm-white);
}

/* Input */

.inputfield:focus {
    box-shadow: none;
    border: 1px solid var(--thm-dark);
}

/* Table */

table tbody tr td {
    font-size: 0.8rem;
}

table thead {
    background-color: var(--thm-dark);
}

/* Pagination */

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
}

.pagination-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: (var(--thm-dark));
    height: 2rem;
    width: 2rem;
    margin: auto 0.2rem;
    text-decoration: none;
    transition: background-color .2s;
    border: 1px solid var(--thm-dark);
    border-radius: 10px;
    cursor: pointer;

}

.pagination-container span.active {
    background-color: var(--thm-dark);
    color: white;
    border: 1px solid #7cbddb;
}

.pagination-container span.disabled {
    opacity: 0.2;
}

.pagination-container span:hover:not(.active) {
    background-color: rgb(238, 238, 238);
}



/* Vehicle Tracking Dashboard */

.filter-options {
    border-color: #c8c9ca;
}

.filter-options:hover {
    background-color: var(--thm-secondary);
    color: var(--thm-dark);
}

.filter-options-active {
    background: var(--thm-dark);
    color: #fff;
}

.force-complete-button {
    color: var(--thm-dark);
    border: 1px solid var(--thm-dark) !important;
    background-color: white;
    padding: 0 0.5rem;
    cursor: pointer !important;
}

.force-complete-button:hover {
    color: #fff;
    background: var(--thm-dark);
}

.force-complete-button-disabled {
    color: #000;
    background-color: #b8b8b894;
    padding: 0 0.5rem;
    cursor: not-allowed !important;
}

.dashboard-main-container {
    margin: auto 3rem;
    min-height: 80vh;
    max-height: 100%;
    box-shadow: 1px 0px 47px -18px #c8c9ca;
}

.dashboard-title {
    color: var(--thm-dark);
}

.dashboard-main-container .dashoard-filter-form {
    border: 1px solid var(--thm-dark);
    box-shadow: 0px 0px 56px -21px #cbcbcb;
    padding: 1rem;
}

@media screen and (max-width: 780px) {
    .dashboard-main-container {
        margin: auto 1rem;
    }
}