* {
    margin: 0;
    padding: 0;
}

/* root */
:root {
    --thm-base: #0d6efd;
    --thm-disbale: #d6d6d6;
    --thm-black: #000;
    --thm-blue: blue;
    --thm-dark: #09215f;
    --thm-gray: #d7d7d7;
    --thm-white: #fff;
    --thm-secondary: #eaeaea;
    --thm-danger: #ff2137;
    --thm-warning: #ffcb31;
}

body {
    /* font-family: sans-serif; */
    overflow-x: hidden;
    /* font-size: 16px; */
    font-size: 1rem;
    background-color: #e8e8e847;
    /* color: var(--thm-dark); */
}

/* Scroll bar Track */

/* ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(228, 227, 227, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(197, 197, 197, 0.886);
    border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(116, 116, 116);
} */

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
}

p {
    font-size: 0.9rem;
}

/* custom Classes */

/* color classes */

.thm-dark {
    color: var(--thm-dark);
}

.thm-white {
    color: var(--thm-white);
}

.thm-disabeled {
    color: var(--thm-disabeled);
}

.thm-secondary {
    color: var(--thm-secondary);
}

.thm-gray {
    color: var(--thm-gray)
}

.bg-thm-gray {
    background-color: var(--thm-gray);
}

.thm-white {
    color: var(--thm-white);
}

.text-danger {
    color: var(--thm-danger) !important
}

.thm-danger {
    color: var(--thm-danger)
}

.text-warning {
    color: var(--thm-warning) !important
}

.thm-warning {
    color: var(--thm-warning);
}

.bg-danger {
    background: #ff2137 !important
}


.bg-thm-dark {
    background-color: var(--thm-dark);
}

.bg-thm-white {
    background-color: var(--thm-white);
}

.bg-thm-disabeled {
    background-color: var(--thm-disabeled);
}

.bg-thm-secondary {
    background-color: var(--thm-secondary);
}

/* Cursor */

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

/* Width */

.w-10 {
    width: 10%
}

.w-15 {
    width: 15%
}

.w-20 {
    width: 20%
}

.w-30 {
    width: 30%
}

.w-35 {
    width: 35%
}

.w-40 {
    width: 40%
}

.w-45 {
    width: 45%
}

.w-55 {
    width: 55%
}

.w-60 {
    width: 60%
}

.w-65 {
    width: 65%
}

.w-70 {
    width: 70%
}

.w-80 {
    width: 80%
}

.w-85 {
    width: 85%
}

.w-90 {
    width: 90%
}

.w-95 {
    width: 95%
}

.width-300 {
    min-width: 300px;
}

.width-200 {
    min-width: 200px;
}

.width-150 {
    min-width: 150px;
}

.width-100 {
    min-width: 100px;
}

/* Fonts */

.fw-550 {
    font-weight: 550;
}

.fw-500 {
    font-weight: 500;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

/* Bootstrap Custom Classes */

/* Nav Dropdown Toggle */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link {
    color: var(--thm-base) !important
}

.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--thm-dark) !important
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--thm-dark) !important
}

/* Bootstrap Modal */

.modal-fullscreen {
    width: 100% !important;
}

/* Card */

.card-container {
    border-radius: 5px;
    box-shadow: 1px 0px 47px -18px #c8c9ca;
}

/* Nav bar */

.navbar {
    box-shadow: 0px 4px 52px -5px #c8c9caa1;
}

.navbar-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
}

.navbar-inner-container {
    width: 100%;
}

.menuItems {
    min-width: 8rem;
    color: var(--thm-base);
    border-bottom: 2px solid transparent;
}

.menuItems:hover {
    color: var(--thm-dark);
}

.active-menuItem {
    min-width: 8rem;
    color: var(--thm-dark);
    border-bottom: 2px solid var(--thm-dark);
}

.nav-logo {
    width: 15rem;
    height: 2.6rem;
}

@media screen and (max-width: 780px) {
    .navbar-main-container {
        padding: 0rem 1rem;
    }

    .nav-logo {
        width: 10rem;
        height: 2rem;
    }

    #responsive-navbar-nav {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid #e1e1e1;
    }
}

/* Button */

.colored-button {
    display: inline-block;
    font-weight: 600 !important;
    font-size: 1rem;
    color: white;
    border: 3px solid var(--thm-dark);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: var(--thm-dark);
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.colored-button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.colored-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.986),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -260px;
    opacity: 0.6;
}

/* #676b778c */
.disabled-button {
    display: inline-block;
    font-weight: 600 !important;
    font-size: 1rem;
    color: white;
    border: 3px solid transparent;
    border-radius: 5px;
    position: relative;
    background-color: #676b778c;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.disabled-button:hover {
    cursor: not-allowed
}

@keyframes shine {
    0% {
        left: -260px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.colored-button:hover {
    border: 3px solid var(--thm-dark);
}

.colored-button:hover::before {
    transform: translateX(0);
}

.hovered-button {
    display: inline-block;
    font-weight: 500 !important;
    font-size: 1rem;
    color: var(--thm-dark);
    border: 2px solid var(--thm-dark);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.hovered-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--thm-dark);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.hovered-button:hover {
    color: #fff;
    border: 2px solid var(--thm-dark);
}

.hovered-button:hover::before {
    transform: translateX(0);
}

.refresh-button {
    background-color: var(--thm-white);
    color: var(--thm-dark);
    border: 2px solid var(--thm-dark);
    transition: all 0.2s ease-in-out;
}

.refresh-button:hover {
    background-color: var(--thm-dark);
    color: var(--thm-white);
}

/* Input */

/* .inputfield {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid var(--thm-gray);

} */

.inputfield:focus {
    box-shadow: 0px 0px 10px 0px #b3b3b395;
    border: 1px solid var(--thm-dark);
}

/* Table */

table tbody tr td {
    font-size: 0.8rem;
}

table thead {
    background-color: var(--thm-dark);
}

/* Pagination */

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
}

.pagination-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: (var(--thm-dark));
    height: 2rem;
    width: 2rem;
    margin: auto 0.2rem;
    text-decoration: none;
    transition: background-color .2s;
    border: 1px solid var(--thm-dark);
    border-radius: 10px;
    cursor: pointer;

}

.pagination-container span.active {
    background-color: var(--thm-dark);
    color: white;
    border: 1px solid #7cbddb;
}

.pagination-container span.disabled {
    opacity: 0.2;
}

.pagination-container span:hover:not(.active) {
    background-color: rgb(238, 238, 238);
}


/* Loader */
/* Spin Loader */
.main-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50%;
    width: 50%; */
    background: #f7f7f7a9;
    z-index: 2;
    top: 0;
    left: 0
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #f7f7f7a9;
    z-index: 2
}

.dot-spinner {
    --uib-size: 5rem;
    --uib-speed: .9s;
    --uib-color: var(--thm-dark);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    margin-top: 10%;
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    /* box-shadow: 0 0 20px rgba(18, 31, 53, 0.3); */
}

.dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}



/* Vehicle Tracking Dashboard */

.filter-options {
    border-color: #c8c9ca;
}

.filter-options:hover {
    background-color: var(--thm-secondary);
    color: var(--thm-dark);
}

.filter-options-active {
    background: var(--thm-dark);
    color: #fff;
}

.force-complete-button {
    color: var(--thm-dark);
    border: 1px solid var(--thm-dark) !important;
    background-color: white;
    padding: 0 0.5rem;
    cursor: pointer !important;
}

.force-complete-button:hover {
    color: #fff;
    background: var(--thm-dark);
}

.force-complete-button-disabled {
    color: #000;
    background-color: #b8b8b894;
    padding: 0 0.5rem;
    cursor: not-allowed !important;
}

.dashboard-main-container {
    margin: auto 3rem;
    min-height: 80vh;
    max-height: 100%;
    box-shadow: 1px 0px 47px -18px #c8c9ca;
}

.dashboard-title {
    color: var(--thm-dark);
}

.dashboard-main-container .dashoard-filter-form {
    border: 1px solid var(--thm-dark);
    box-shadow: 0px 0px 56px -21px #cbcbcb;
    padding: 1rem;
}

.vehicle-details-popup {
    min-width: 20rem;
    position: absolute;
    right: 0;
    left: 20%;
    top: 0%;
    box-shadow: 0px 0px 12px -4px #6f6f6f;
    z-index: 1;
}

@media screen and (max-width: 780px) {
    .dashboard-main-container {
        margin: auto 1rem;
    }
}

.hide-columns {
    width: 20rem;
    border: 2px solid var(--thm-dark);
}

.hide-columns:hover {
    color: #fff;
    background-color: var(--thm-dark);
}

.column-items-div {
    width: 20rem;
    z-index: 3 !important;
    border: 1px solid var(--thm-dark);
}

.column-items {
    max-height: 20rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.hide-colums-item:hover {
    background-color: var(--thm-secondary);
}





#warn-icon {
    transition: transform 2s ease-out infinite;
    animation: bounce 2s ease-out forwards infinite;
}

@keyframes bounce {
    0% {
        opacity: 0.5;
        transform: scale(0.1);
    }

    50% {
        transform: scale(1.0);
    }

    75% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(0.9);
    }
}

.button {
    --clr: var(--thm-dark);
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
    background-color: #fff;
    color: #121212;
    border: none;
    cursor: pointer;
}

.button-decor {
    position: absolute;
    inset: 0;
    background-color: var(--clr);
    transform: translateX(-100%);
    transition: transform .3s;
    z-index: 0;
}

.button-content {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.button__icon {
    width: 30px;
    height: 30px;
    background-color: var(--clr);
    display: grid;
    place-items: center;
}

.button__text {
    display: inline-block;
    transition: color .2s;
    padding: 2px 1.5rem 2px;
    padding-left: .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.button:hover .button__text {
    color: #fff;
}

.button:hover .button-decor {
    transform: translate(0);
}




/* Toggle button */

.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
}

.switch:checked {
    background-color: var(--thm-dark);
}

.switch::before {
    position: absolute;
    content: "";
    left: calc(1.5rem - 1.6rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all .3s ease;
}

.switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}

.switch:checked:before {
    transform: translateX(100%);
    border-color: var(--thm-dark);
}

.blink {
    animation: blink 0.8s infinite;
    border-radius: 5px;
}

@keyframes blink {
    0% {
        background-color: white;
        /* Change to white after 1 second */
        color: red;
        border: 2px solid red;
        /* Change text color to red */
    }

    50% {
        background-color: white;
        /* Stay white for half the animation */
        color: red;
        border: 2px solid white;
    }

    100% {
        background-color: red;
        border: 2px solid red;
        /* Change back to red after 1 second */
        color: white;
        /* Change text color back to white */
    }
}







.progress-bar {
    list-style: none;
    /*color:#fff;*/
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    counter-reset: container 0;
}

.progress-bar li {
    position: relative;
    margin-left: 40px;
    margin-top: 50px;
    counter-increment: container 1;
    color: #4f6581;
}

.progress-bar li::before {
    content: counter(container);
    line-height: 25px;
    text-align: center;
    position: absolute;
    height: 25px;
    width: 25px;
    border: 1px solid #4f6581;
    border-radius: 50%;
    left: -40px;
    top: -5px;
    z-index: 10;
    background-color: #304767;


}


.progress-bar li::after {
    content: '';
    position: absolute;
    height: 90px;
    width: 2px;
    background-color: #4f6581;
    z-index: 1;
    left: -27px;
    top: -70px;
}


.progress-bar li.active::after {
    background-color: #fff;

}

.progress-bar li:first-child:after {
    display: none;
}

/*.progress-bar li:last-child:after{*/
/*  display:none;  */
/*}*/
.progress-bar li.active::before {
    color: #fff;
    border: 1px solid #fff;
}

.progress-bar li.active {
    color: #fff;
}











/* === range theme and appearance === */
input[type="range"] {
    font-size: 1.5rem;
    width: 12.5em;
}

input[type="range"] {
    color: var(--thm-dark);
    --thumb-height: 1.125em;
    --track-height: 0.125em;
    --track-color: #d7d7d7;
    --brightness-hover: 180%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
}

input[type="range"].win10-thumb {
    color: #2b2d42;

    --thumb-height: 1.375em;
    --thumb-width: 0.5em;
    --clip-edges: 0.0125em;
}

/* === range commons === */
input[type="range"] {
    position: relative;
    background: #fff0;
    overflow: hidden;
}

input[type="range"]:active {
    cursor: grabbing;
}

input[type="range"]:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    position: relative;
}

input[type="range"]::-webkit-slider-thumb {
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(100% -1px,
            var(--clip-edges) -1px,
            0 var(--clip-top),
            -100vmax var(--clip-top),
            -100vmax var(--clip-bottom),
            0 var(--clip-bottom),
            var(--clip-edges) 100%,
            var(--clip-further) var(--clip-further));
}

input[type="range"]:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
    background: #fff0;
}

input[type="range"]::-moz-range-thumb {
    background: currentColor;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
    cursor: grabbing;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
    filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
    filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
    filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
    cursor: not-allowed;
}








@keyframes green-blink {
    0% {
        transform: scale(1);
        background-color: #00FF00DE;
    }

    50% {
        transform: scale (1, 5);
        background-color: #00a900de;
    }

    100% {
        transform: scale(1);
        background-color: #00FF00DE;
    }
}

@keyframes red-blink {
    0% {
        transform: scale(1);
        background-color: #ff0000;
    }

    50% {
        transform: scale (1, 5);
        background-color: #db0707;
    }

    100% {
        transform: scale(1);
        background-color: #ff0000;
    }
}

@keyframes yellow-blink {
    0% {
        transform: scale(1);
        background-color: #fffc00;
    }

    50% {
        transform: scale (1, 5);
        background-color: #e5e300;
    }

    100% {
        transform: scale(1);
        background-color: #fffc00;
    }
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.circle-green-blink {
    -webkit-animation: green-blink 0.4s infinite;
    -moz-animation: green-blink 0.4s infinite;
    -o-animation: green-blink 0.4s infinite;
    animation: green-blink 0.4s infinite;
}


.circle-red-blink {
    -webkit-animation: red-blink 0.4s infinite;
    -moz-animation: red-blink 0.4s infinite;
    -o-animation: red-blink 0.4s infinite;
    animation: red-blink 0.4s infinite;
}

.circle-yellow-blink {
    -webkit-animation: yellow-blink 0.4s infinite;
    -moz-animation: yellow-blink 0.4s infinite;
    -o-animation: yellow-blink 0.4s infinite;
    animation: yellow-blink 0.4s infinite;
}

/* .red {
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: up-right 1s infinite;
    -moz-animation: up-right 1s infinite;
    -o-animation: up-right 1s infinite;
    animation: up-right 1s infinite;
} */